<div class="styleguide-example<% unless section.filename.nil? then ' pending' end %>">
  <h3><%= section.section %><% unless section.filename.nil? %> <em><%= section.filename %></em><% end %></h3>
  <div class="styleguide-description">
    <p><%= section.description %></p>
  </div>
</div>
